<h1>Create Ice Cream</h1>

<form method='post' action='/icecreams'>
  <label for="flavor">Choose flavor: </label>
  <input name="flavor" type="text"> <br>
  <label for="rating">Choose rating: </label>
  <input name="rating" type="number"> <br>
  <label for="toppings">Choose toppings: </label>
  <input name="toppings" type="text"> <br>
  <input type="submit" value="Create Ice Cream">
  <%=@ice_cream.errors.full_messages.join if @ice_cream%>

</form>